<a href="https://colab.research.google.com/github/michaelnonso/data-analytics/blob/main/Data_exploration_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Exploration Using Python**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import sklearn as sk

EXPLORATION BY GROUPING

In [ ]:


# Create a DataFrame
df = pd.DataFrame({'country': ['USA', 'UK', 'USA', 'UK', 'Canada'],
                   'sales': [100, 200, 300, 400, 500]})

# Group the DataFrame by country
grouped_df = df.groupby('country')

# # Calculate the total sales for each country
# total_sales_by_country = grouped_df['sales'].sum()

# # Print the results
# print(total_sales_by_country)
# type(grouped_df )
print(grouped_df["country"].count())
print(grouped_df["country"].describe())

country
Canada    1
UK        2
USA       2
Name: country, dtype: int64
        count unique     top freq
country
Canada      1      1  Canada    1
UK          2      1      UK    2
USA         2      1     USA    2

EXPLORE THE DATA TYPES IN THE DATASET

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/DATA-ANALYTICS/datasets/Human Resources.csv')

In [ ]:
dataset.head()

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,06-04-91,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,6/29/1984,Male,White,Business Development,Business Analyst,Headquarters,04-08-19,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,7/29/1989,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10-12-10,NaN,Cleveland,Ohio
3,00-0055274,Baxy,Matton,9/14/1982,Female,White,Services,Service Tech,Headquarters,04-10-05,NaN,Cleveland,Ohio
4,00-0076100,Terrell,Suff,04-11-94,Female,Two or More Races,Product Management,Business Analyst,Remote,9/29/2010,2029-10-29 06:09:38 UTC,Flint,Michigan

In [ ]:

dataset.dtypes

id                object
first_name        object
last_name         object
birthdate         object
gender            object
race              object
department        object
jobtitle          object
location          object
hire_date         object
termdate          object
location_city     object
location_state    object
dtype: object

SUMARIZE TE DATASET STATISTICALLY

In [ ]:
dataset.describe()

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
count,22214,22214,22214,22214,22214,22214,22214,22214,22214,22214,3929,22214,22214
unique,22214,7758,17754,10854,3,7,13,185,2,7016,3929,77,7
top,00-0037846,Cassie,Ducker,05-09-72,Male,White,Engineering,Research Assistant II,Headquarters,07-06-09,2029-10-29 06:09:38 UTC,Cleveland,Ohio
freq,1,12,7,9,11288,6328,6686,754,16715,10,1,16871,18025

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22214 entries, 0 to 22213
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              22214 non-null  object
 1   first_name      22214 non-null  object
 2   last_name       22214 non-null  object
 3   birthdate       22214 non-null  object
 4   gender          22214 non-null  object
 5   race            22214 non-null  object
 6   department      22214 non-null  object
 7   jobtitle        22214 non-null  object
 8   location        22214 non-null  object
 9   hire_date       22214 non-null  object
 10  termdate        3929 non-null   object
 11  location_city   22214 non-null  object
 12  location_state  22214 non-null  object
dtypes: object(13)
memory usage: 2.2+ MB

In [ ]:
# dataset.isna()

In [ ]:
dataset.isnull()

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22209,False,False,False,False,False,False,False,False,False,False,True,False,False
22210,False,False,False,False,False,False,False,False,False,False,True,False,False
22211,False,False,False,False,False,False,False,False,False,False,True,False,False
22212,False,False,False,False,False,False,False,False,False,False,False,False,False
22213,False,False,False,False,False,False,False,False,False,False,True,False,False

In [ ]:
dataset['termdate'].isnull()

0         True
1         True
2         True
3         True
4        False
         ...
22209     True
22210     True
22211     True
22212    False
22213     True
Name: termdate, Length: 22214, dtype: bool

COPYING THE DATASET IN ORDER TO PERFORM SOME TRANSFORMATION ON THE COPY

In [ ]:
dataset_copy=dataset.copy()
dataset_copy.fillna(0,inplace=True)
print(dataset_copy['termdate'].head)

<bound method NDFrame.head of 0                              0
1                              0
2                              0
3                              0
4        2029-10-29 06:09:38 UTC
                  ...
22209                          0
22210                          0
22211                          0
22212    2012-12-10 14:29:59 UTC
22213                          0
Name: termdate, Length: 22214, dtype: object>

In [ ]:
# Group the DataFrame
grouped_dataset = dataset.groupby('race')

print(grouped_dataset['race'].count())

race
American Indian or Alaska Native             1327
Asian                                        3562
Black or African American                    3619
Hispanic or Latino                           2501
Native Hawaiian or Other Pacific Islander    1229
Two or More Races                            3648
White                                        6328
Name: race, dtype: int64

Mysql equivalent:

In [ ]:
SELECT country,COUNT(country) FROM table GROUP BY country

In [ ]:
dataset_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22214 entries, 0 to 22213
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              22214 non-null  object
 1   first_name      22214 non-null  object
 2   last_name       22214 non-null  object
 3   birthdate       22214 non-null  object
 4   gender          22214 non-null  object
 5   race            22214 non-null  object
 6   department      22214 non-null  object
 7   jobtitle        22214 non-null  object
 8   location        22214 non-null  object
 9   hire_date       22214 non-null  object
 10  termdate        22214 non-null  object
 11  location_city   22214 non-null  object
 12  location_state  22214 non-null  object
dtypes: object(13)
memory usage: 2.2+ MB

In [ ]:
print(dataset_copy['hire_date'])

0        1/20/2002
1         04-08-19
2         10-12-10
3         04-10-05
4        9/29/2010
           ...
22209     02-08-12
22210     10-06-17
22211     02-08-01
22212     04-03-05
22213    3/27/2018
Name: hire_date, Length: 22214, dtype: object

In [ ]:
datetime_object = pd.to_datetime(dataset_copy['hire_date'])

In [ ]:
datetime_object.info()

<class 'pandas.core.series.Series'>
RangeIndex: 22214 entries, 0 to 22213
Series name: hire_date
Non-Null Count  Dtype
--------------  -----
22214 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 173.7 KB

In [ ]:
#datetime_object[0]
datetime_object.loc[0:10]

0    2002-01-20
1    2019-04-08
2    2010-10-12
3    2005-04-10
4    2010-09-29
5    2018-09-01
6    2012-11-08
7    2007-06-27
8    2001-02-20
9    2005-01-27
10   2004-11-01
Name: hire_date, dtype: datetime64[ns]

REMOVING REPEATED DATA

In [ ]:


# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5,5], 'B': [10, 20, 30, 10, 50,50], 'C': [None, 100, 200, 300, 400,400]})
print (df)

   A   B      C
0  1  10    NaN
1  2  20  100.0
2  3  30  200.0
3  4  10  300.0
4  5  50  400.0
5  5  50  400.0

In [ ]:
# Remove duplicate rows from the DataFrame
df = df.drop_duplicates()

# Print the DataFrame
print(df)

   A   B      C
0  1  10    NaN
1  2  20  100.0
2  3  30  200.0
3  4  10  300.0
4  5  50  400.0

In [ ]:
#only available with series

# Get the unique values in the DataFrame
#unique_values = df.un

# Create a new DataFrame from the unique values
#new_df = pd.DataFrame(unique_values)

# Print the new DataFrame
#print(new_df)